:root {
  --main-color: #ffa0c2;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background: linear-gradient(
    109.6deg,
    rgb(255, 221, 225) 11.2%,
    rgb(255, 255, 255) 92.2%
  );
}
h1,
h2 {
  font-family: "Nunito", sans-serif;
  color: var(--main-color);
  font-size: 96px;
  font-weight: bold;
  text-align: center;
}
h3 {
  color: var(--main-color);
}
img {
  border-radius: 20px;
}
p {
  font-family: "Poppins", sans-serif;
  color: var(--main-color);
  font-size: 35px;
  margin: 0;
}
hr {
  color: grey;
}
.hero h2 {
  font-size: 24px;
  line-height: 2;
}
.hero {
  text-align: center;
  padding: 160px 20px;
}
.btn-style {
  border-radius: 4px;
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 38px;
  box-shadow: var(--box-shadow);
}
h3 {
  font-family: "Lora", serif;
  color: grey;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.project-title {
  font-size: 50px;
}
.title {
  font-size: 40px;
  margin-top: 20px;
}
.text {
  display: flex;
  margin: 10px;
  color: grey;
}
.weather-app {
  box-shadow: var(--box-shadow);
  text-decoration: none;
  text-align: center;
  background: var(--main-color);
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  border-radius: 4px;
  padding: 15px 20px;
}
.about-title h1 {
  color: var(--main-color);
  text-align: center;
  font-size: 50px;
  font-family: "Lora", serif;
}
.about-text {
  font-size: 15px;
  color: grey;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin: 10px;
  padding: 15px;
}
.selfie {
  border-radius: 50px;
  width: 250;
}
.languages {
  color: var(--main-color);
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  font-family: "Lora", serif;
}
.contact-page h1 {
  font-size: 50px;
  padding: 15px;
}
.contact-page h2,
h3,
h4 {
  text-align: center;
  color: var(--main-color);
  font-size: 30px;
  font-family: "Lora", serif;
}
i {
  color: var(--main-color);
}
.email-link {
  color: var(--main-color);
  text-align: center;
  display: block;
  text-decoration: none;
}
.icon {
  text-align: center;
  color: var(--main-color);
}
.code-source {
  text-align: center;
  color: var(--main-color);
  font-size: 13px;
}
