:root {
  --main-color: #ffa0c2;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.nav-color {
  background-color: var(--back-color);
}
body {
  background: linear-gradient(-45deg, #ffc796 0%, #ff6b95 100%);
}
h1,
h2 {
  font-family: "Nunito", sans-serif;
  color: var(--main-color);
  font-size: 96px;
  font-weight: bold;
}
p {
  font-family: "Poppins", sans-serif;
  color: var(--main-color);
  font-size: 35px;
  margin: 0;
}
.hero h2 {
  font-size: 24px;
  line-height: 2;
}
.hero {
  background-color: var(--back-color);
  text-align: center;
  padding: 160px 20px;
}
.btn-style {
  border-radius: 4px;
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 38px;
  box-shadow: var(--box-shadow);
}
h3 {
  font-family: "Nunito", sans-serif;
  color: black;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.title {
  font-size: 40px;
  margin-top: 20px;
}
.text {
  display: flex;
  margin: 10px;
}
.yoga-app {
  box-shadow: var(--box-shadow);
  text-decoration: none;
  text-align: center;
  background: var(--main-color);
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  border-radius: 4px;
  padding: 15px 20px;
}
.weather-app {
  box-shadow: var(--box-shadow);
  text-decoration: none;
  text-align: center;
  background: var(--main-color);
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  border-radius: 4px;
  padding: 15px 20px;
}
.yogurt-app {
  box-shadow: var(--box-shadow);
  text-decoration: none;
  text-align: center;
  background: var(--main-color);
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  border-radius: 4px;
  padding: 15px 20px;
}
.about-title h1 {
  color: var(--main-color);
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}
.about-title h2 {
  text-align: center;
  font-size: 40px;
  color: var(--main-color);
}
.about-text {
  font-size: 20px;
  color: var(--back-color);
  background-color: var(--main-color);
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
}
.contact {
  background-color: var(--main-color);
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  padding: 5px;
}
.email-link {
  text-align: center;
  color: var(--back-color);
  padding: 10px;
}
.contact h3 {
  color: var(--back-color);
  font-weight: bold;
}
.selfie {
  border-radius: 50px;
  width: 250;
}
.languages {
  color: var(--main-color);
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
