:root {
  --main-color: #ffb0fe;
  --back-color: #ff6bd6;
  --text-align: center;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2 {
  font-family: "Nunito", sans-serif;
  color: var(--main-color);
  font-size: 96px;
  font-weight: bold;
}
p {
  font-family: "Poppins", sans-serif;
  color: var(--main-color);
  font-size: 35px;
  margin: 0;
}
.hero h2 {
  font-size: 24px;
  line-height: 2;
}
.hero {
  background-color: var(--back-color);
  text-align: var(--text-align);
  padding: 160px 20px;
}
.btn-style {
  border-radius: 4px;
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 38px;
}
.title {
  font-size: 40px;
  margin-top: 20px;
}
.text {
  display: flex;
  margin: 10px;
}
.yoga-app {
  box-shadow: var(--box-shadow);
  text-decoration: none;
  text-align: var(--text-align);
  background: var(--main-color);
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  border-radius: 4px;
  padding: 15px 20px;
}
.weather-app {
  box-shadow: var(--box-shadow);
  text-decoration: none;
  text-align: var(--text-align);
  background: var(--main-color);
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  border-radius: 4px;
  padding: 15px 20px;
}
.yogurt-app {
  box-shadow: var(--box-shadow);
  text-decoration: none;
  text-align: var(--text-align);
  background: var(--main-color);
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  border-radius: 4px;
  padding: 15px 20px;
}
